@import "variables";
.directions {
    position: absolute;
    .mark {
        margin-top: -455px;
    }
}
.pattern {
    margin: -200px auto 0;
    background-image: url(../img/pattern.png);
    width: 1257px;
    height: 722px;
    padding: 0 199px 86px 133px;
    &__header {
        text-align: center;
        font-size: 30px;
        color: @font_color;
        .medium;
        font-weight: 700;
        margin-bottom: 65px;
        
    }
}

.side {
    &--left {
        .card {
            background-color: #ffffff;
            border: none;
            width: 366px;
            &__row {
                display: flex;
                width: 366px;
            }
            &__info {
                padding-top: 42px;
                padding-left: 46px;
                flex-basis: 86%;
            }
            &__btn {
                flex-basis: 15%;
                .btn__angle {
                    margin-left: 24px;
                }
            }
        }
    }

    &--right {
        .card {
            width: 525px;
            height: 180px;
            box-sizing: border-box;
            border: none;
            margin-bottom: 28px;
            &__row {
                display:flex;
                img{
                    height: 180px;
                } 
                &--shadow {
                    box-shadow: 0 4px 25px rgba(142,128,169,.2);
                    width: 305px;
                    height: 180px;
                    display: flex;
                }
            }
            &__info {
                flex-basis: 85%;
                padding: 35px 0px 14px 36px;
            }
            &__btn {
                width: 45px;
                height: 30px;
                margin-top: 115px;
                margin-right: 34px;
                .btn__angle {
                    margin-left: 17px;
                }                
            }            
        }
    }

    &__btn {
        width: 100%;
        height: 48px;
        border:none;
        &--shadow {
            box-shadow: 0 4px 25px rgba(142,128,169,.2);
        } 
        .medium;
        color: @font_color;
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
        padding: 0;
        background-color: #fff;
    }
}

.card__info__text {
    color: @font_color;
    h3 {
        .bold;
        font-size: 16px;
    }
    p {
        .medium;
        font-size: 12px;
    }
    .text__name {
        color: @btn_color;
    }
  
}

.card__btn {
    border: none;
    padding: 0;
    background-color: @font_color;
    .btn__angle {
        border: 8px solid transparent;
        border-left: 8px solid #fff;
    }
    .angle {
        border: 6px solid transparent;
        border-left: 6px solid @font_color;  
        margin: -6px -8px;
    }
}

.card__row--shadow {
    box-shadow: 0 4px 25px rgba(142,128,169,.2);
}