@import "variables";

@media @phone {
    .directions {
        height: 1150px;
        padding-left: 0;
        padding-right: 0;
    }
    .pattern {
        background: url(../img/pattern--phone.png) center left no-repeat;
        background-size: 70% 70%;
        background-position-y: 50%;
        max-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
        
        &__background {
            top: -130px;
        }
    
        &__header {
            font-size: 18px;
            top: -10px;
        }
    }
    
    .side {
        &--left {
            .directionCard {
                margin-bottom: 25px;
                &__info {
                    padding: 15px 0px 0px 20px;
                }
            }
        }
        &--right {
            .directionCard {
                &__row {
                    flex-direction: column;
                    img {
                        min-height: 200px;
                    }
                    .card--shadow {
                        display: flex;
                        flex-direction: row;
                    }
                }
                margin-bottom: 25px;
                &__info { 
                    flex-basis: 85%;
                    padding: 15px 0px 0px 20px;
                }
    
                &__btn {
                    flex-basis: 15%;
                    height: auto;
                    width: auto;
                    margin: 0;
                    .btn__angle {
                        margin-left: 40%;
                    }                
                }            
            }
        }
        &__btn {
            font-size: 10px;
            margin-top: 0;
            height: 35px;
        }
    }
    
    .directionCard__info__text {
        h3 {
            font-size: 12px;
        }
        p {
            font-size: 10px;
        }
    }
}

@media @tablet {
    .pattern {
        background-size: 105% 94%;
        background-position-y: -48px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
    
        &__header {
            font-size: 21px;
            top: -50px;
        }
    
        .row {
            margin-left: auto;
            margin-right: auto;
            max-width: 900px; 
            max-height: 720px;
        }
    }
    
    .side {
        &--left {
            .directionCard {
                max-width: 265px;
                &__row {
                    width: 100%;
                    height: 100%;
                }
    
                &__info {
                    padding: 15px 0px 0px 20px;
                }
    
                &__btn {
                    flex-basis: 15%;
                    .btn__angle {
                        margin-left: 45%;
                    }
                }
            }
        }
    
        &--right {
            .directionCard {
                max-width: 350px;
                max-height: 125px;
                &__row img{
                    max-width: 40%;
                }
                &__info { 
                    padding: 10px 0px 0px 15px;
                }
    
                &__btn {
                    margin-top: 75px;
                    margin-right: 15px;               
                }            
            }
            .card--shadow {
                display: flex;
                min-width: 205px;
            }
        }
    
        &__btn {
            height: 34px;
            margin-top: 0px;
        }
    }
    
    .directionCard {        
        &__info__text {
            h3 {
                font-size: 12px;
            }
            p {
                font-size: 10px;
            }
        }
    }
}



