.container {
    max-width: 1440px;
}
.container--small {
    max-width: 1200px;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-width: 100%;
}

@font_color: #8B7EAC;  
@btn_color:  #E65C7B;
@mark_color: rgba(174, 164, 200, 0.5);
@shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);

.medium {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: @font_color;
}

.bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.btn--coral {
    background-color: @btn_color;
    color: #fff;
    border: none;
    color: @font_color;
}

.btn__angle {
    width: 10px;
    height: 10px;
    border: 10px solid transparent;
    border-left: 10px solid #fff;
}

.angle {
    width: 8px;
    height: 8px;
    border: 8px solid transparent;
    border-left: 8px solid @btn_color;
    margin: -8px -10px;
}

.mark {
    float: right;
    vertical-align: middle;
    background: none;
    .bold;
    font-size: 30px;
    color: @mark_color;
    margin-right: -15px;
    padding: 0;
    hr {
        display: inline-block;
        border-top: 1px solid rgba(139, 126, 172, 0.73);
        height: 0;
        width: 50px;
        vertical-align: middle;
        margin-left: 10px;
    }
}